[run]
branch = True
source = 
    backend
omit = 
    */tests/*
    */__init__.py
    */conftest.py
    */migrations/*
    */__pycache__/*
    */*.pyc
    */alembic.ini

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:  # main entry point
    @abc.abstractmethod
    raise NotImplementedError
    except ImportError
    except Exception
    def __repr__
    def __str__
    pass

ignore_errors = True
