# .gitignore
# Python
.venv/
__pycache__/
*/.pytest_cache/
.pytest_cache/
*.pyc
instance/
.env
.coverage
htmlcov/
coverage.xml

# Node/React
node_modules/
build/
dist/
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
.vscode/*
.vscode
.qodo
.qodo/*

# db
*/productivity_hub.db
*/productivity_hub.db-journal
backend/productivity_hub.db-journal

# Temp Docs
docs/personal-docs/*
docs/personal-docs
*/app.backup.py

# Scripts
scripts/*