# .gitignore
# Python
.venv/
__pycache__/
*/.pytest_cache/
.pytest_cache/
*.pyc
instance/
.env
.coverage
htmlcov/
coverage.xml

# Node/React
node_modules/
build/
dist/
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
.vscode/*
.vscode
.qodo
.qodo/*
create-random-branch.ps1

# db
*/productivity_hub.db

# Temp Docs
docs/temp/*
docs/temp
*/app.backup.py